/* Declaring colours */
:root{
  --primary: #ff4d4d;
  --secondary: #D92432;
  --background: papayawhip;
  --footer: DimGrey; 
  --posttextcolour: black;
}


body {
    margin: 0%;
    background-color: var(--background);
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
  }

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    background-color: var(--primary); 
    width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    height: 2%;
    position: relative;
    margin-bottom: 1%;
  }

  .navbaritem{
    align-self: center;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    padding: auto;
    /*To get the padding sizes, I took the height of the ` in px, subtracted the height of the text, and 
    then I divided it by 2. I could improve this by making it either automatically computed or make it so
    that the padding is declared for each responsive size I have made.*/
    padding-top: calc(((37px + (1px/3))/2));
    padding-bottom: calc(((37px + (1px/3))/2));
    min-height: 100%;
    color: white;
  }
  .navbaritem:hover{
    background-color: var(--secondary);
  }
/* Body */
body {
    background-color: var(--background);
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
/* Footer */
footer {
    background-color: DimGrey;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
}


/* Post */
.post {
    color: var(--posttextcolour);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-align: left;
}

.footertext{
  margin: 0;
  font-size: large;
}

.content{
  min-height: 80vh;
}

.PageTitle{
  color: white;
  padding: auto;
}

.PageTitleLink{
  padding-top: calc(((62px + (1px/3))/2));
  padding-bottom: calc(((62px + (1px/3))/2));
  padding-left: 5%;
  padding-right: 5%;
}

.PageTitle:hover{
  background-color: var(--secondary);
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.aboutpage{
  margin-left: 10%;
  margin-right: 10%;
}

.username{
  color: var(--secondary);
  font-size: 1em;
  margin: 1%;
}

.userid{
  margin: 1%;
  font-size: large;
}
.postparagraph{
  margin: 1%;
  font-size: medium;
}

.CreatePageComment{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.CreatePageText{
  margin: 1%;
}

/* Responsive CSS stuff */

/* Mobile */

@media only screen and (max-width: 768px){
  .navbaritem
  {
    font-size: small;
    padding-top: calc(((42px + (1px/3))/2));
    padding-bottom: calc(((42px + (1px/3))/2));
  }
  .PageTitle
  {
    padding: auto;
    font-size: x-large;
    padding-top: calc(((58px + (1px/3))/2));
    padding-bottom: calc(((58px + (1px/3))/2));
  }
  .post{
    font-size: medium;
  }
  .userid{
    font-size: small;
  }
  .postparagraph{
    font-size: smaller;
  }
}