{% extends "index.html" %}
{% block content %}
<!-- Flask Flash -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

<!-- Jinja loop -->
{% for post in posts %}
    <div class="post">
        <h2 class="username"><a href="/profile/{{post.userID}}">{{post.user.username}}</a></h2>
        <h6 class="flairsdisplayer">Flairs: 
            {#Display post flair#}
            {% if post.flairs|length == 0 %}
                None.
            {% endif %}
            {% for flair in post.flairs %}
                {{flair.name}}{%if not loop.last%},{% endif %}{%if loop.last%}.{% endif %}
                
            {% endfor %}
            <!-- Display a delete button. -->
            {% if current_user.is_authenticated %}
                {% if current_user.id == post.userID or superuser == true%}
                    <a href="/deletepost/{{post.id}}">Delete</a>
                    <a href="/editpost/{{post.id}}">Edit</a>
                {% endif %}
            {% endif %}
        </h6>
        <p class="postparagraph">{{post.text}}</p>
    </div>

{% endfor %}
<!-- Page navigation -->
    <!-- Previous page -->
    {#If we are on the first page, then don't render the previous button#}
    {% if prevpage != -1 %}
        <a href={{prevpage}}>Previous</a>
    {% endif %}
    {#Nextpage is only used here because it is the exact value of the actual page
    It's confusing but it's stupid two of the same number on the same page#}

    
    Page {{nextpage}} of {{totalpages}}
    <!-- Next page -->
    {#If the user is on the last page, don't display the next page button#}
    {% if lastPage != true%}
    <a href={{nextpage}}>Next</a>
    {% endif %}
{% endblock %}