{% extends "index.html" %}
{% block content %}
<!-- Flask Flash -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

<!-- Jinja loop -->
{% for post in posts %}
    <div class="post">
        <h2 class="username">{{post.user.username}}</h2>
        <h6 class="userid">User {{post.userID}}</h6>
        <p class="postparagraph">{{post.text}}</p>
    </div>

{% endfor %}
<!-- Page navigation -->
    <!-- Previous page -->
    {#If we are on the first page, then don't render the previous button#}
    {% if prevpage != -1 %}
        <a href={{prevpage}}>Previous</a>
    {% endif %}
    {#Nextpage is only used here because it is the exact value of the actual page
    It's confusing but it's stupid two of the same number on the same page#}

    
    Page {{nextpage}} of {{totalpages}}
    <!-- Next page -->
    {#If the user is on the last page, don't display the next page button#}
    {% if lastPage != true%}
    <a href={{nextpage}}>Next</a>
    {% endif %}
{% endblock %}