<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SamFeed</title>
 
    
    
</head>
<body>
<!-- Navbar -->

<nav>
    <!-- JavaScript -->
    <script src="../static/navbar.js"></script>    
    <h1>SamFeed</h1>
        <a href="/" class="navbaritem"><div class=navbaritem>HOME</div></a>
        <a href="/about" class="navbaritem"><div class=navbaritem>ABOUT</div></a>
        <a href="/ranking" class="navbaritem"><div class="navbaritem lastnavbaritem">RANKING</div></a>
    

</nav>
<!-- End Navbar -->

<!-- Jinja loop -->
{% for post in posts %}
    <div class="post">
        <h2>{{post.user.username}}</h2>
        <h6>User {{post.userID}}</h6>
        <p>{{post.text}}</p>

    </div>
{% endfor %}



    
</body>
</html>