<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SamFeed</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
<!-- Navbar -->

<nav>
        
    <h1 class="PageTitle"> <a href="/" class ="PageTitle PageTitleLink">SamFeed</a></h1>
        <!--Here I need to make sure that the division / padding for the text can be clicked to navigate to the area in question-->
        <a href="/about" class="navbaritem"><div class=navbaritem>ABOUT</div></a>
        <a href="/user" class="navbaritem"><div class="navbaritem">SETTINGS</div></a>
        
        <a href="/profile" class="navbaritem"><div class="navbaritem">PROFILE</div></a>
        <a href="/post" class="navbaritem"><div class="navbaritem lastnavbaritem">CREATE</div></a>
    
</nav>
<!-- Page Contents -->
<div class="content">{% block content %}{% endblock %}</div>
<!-- Footer -->
<footer>
    <p class="footertitle">SamFeed &copy; 2023</p>
    <p class="footertext">all rights reserved</p>
</footer>    
</body>

</html>