{% extends "index.html" %}
{% block content %}
    <h1>Login</h1>
<!-- Flask login stuff -->
<form method = "POST">
    {{ form.csrf_token }}
    Username: {{form.username}}
    Password: {{form.password}}
    <input type="submit" value="Login">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     {% for message in messages %}
       <li>{{ message }}</li>
     {% endfor %}
    {% endif %}
   {% endwith %}
</form>
Need to sign up? <a href="/register">Sign up</a>
{% endblock %}